.user-list {
    margin: 2rem 0 2rem 0;
}

.user-list .moreOption {
    /* color: #285d9a; */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
}

.user-list p {
    margin: 0;
}

/* .modal {
    font-size: 12px;
    background-color: #e67e22;
}
.modal > .header {
    width: 100%;
    border-bottom: 1px solid gray;
    font-size: 18px;
    text-align: center;
    padding: 5px;
}
.modal > .content {
    width: 100%;
    padding: 10px 5px;
}
.modal > .actions {
    width: 100%;
    padding: 10px 5px;
    margin: auto;
    text-align: center;
}
.modal > .close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
} */

input[type='text'] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.form-create {
    display: block !important;
}
